body 
{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 background-color: burlywood;
}

#head 
{
 text-align: center;
 background-color: gray;
 padding: 5px;
}

.form 
{
 background-color: brown;
 padding: 30px;
 margin-top: 50px;
 margin-left: 100px;
 margin-right: 100px;
 border-radius: 20px;
 opacity: 0.9;

}

#in1 input 
{
 width: 35%;
 padding: 10px;
 margin: 2%;
 display: inline-block;
 text-decoration: none;
}

#in2 input 
{
 width: 35%;
 padding: 10px;
 margin: 4%;
 display: inline-block;
}

#area textarea 
{
 width: 95%;
 margin: 2px;
 padding: 3%;
}

.but 
{
 padding-top: 10px;
 padding-right: 20px;
 padding-bottom: 10px;
 padding-left: 20px;
 margin: 2%;
 cursor: pointer;
}

#img 
{
 height: 5%;
 width: 2.5%;
 margin-top: 20px;
 margin-left: 30px;

}

#img1 
{
 height: 7%;
 width: 3%;
 margin-top: 50px;
 margin-left: 30px;
}

#main-footer {
    text-align: center;
    background: #444;
    color: #fff;
    padding: 2px;
    margin-top: 90px;
}
