
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color:burlywood;

}
#pd{
    background-color:grey;
    text-align: center;
    font-style: italic;
    padding: 3px;
}
#pd1{
    
    text-align: justify;
    }
#list{
    list-style: square;
}
#main-footer {
    text-align: center;
    background: #444;
    color: #fff;
    padding: 2px;
    margin-top: 90px;
}
