body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.ed{
    background-color: gray;
    padding: 5px;
    text-align: center;
    font-style: italic;
    padding: 20px;
    

}
#I span.ss{
    color: red;
    
}
#II span.s{
    color: blue;
}
#III span.h{
    color: green;
}

#main-footer {
    text-align: center;
    background: #444;
    color: #fff;
    padding: 2px;
    margin-top: 90px;
}
