body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  color: black;
  box-sizing: border-box;
  height: 100%;
}

html {
  height: 100%;
}

/************************* Header *****************************/

.main-header {
  width: 100%;
  background: black;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.main-header__brand {
  text-decoration: none;
  font-weight: bold;
  background-color: rgb(209, 45, 100);
  color: white;
  width: 10%;
  padding: 1px;
  text-align: center;
  border-radius: 2rem;
}

.main-header__brand a {
  text-decoration: none;
  color: white;
}

.main-nav__item {
  list-style-type: none;
  float: left;
  text-decoration: none;
  padding-right: 2.5em;
}

.main-nav__items {
  float: right;
  text-decoration: none;
}

.main-nav {
  width: 100%;
  height: 50px;
  position: fixed;
}

.main-nav__item a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}

.main-nav__item a:active {
  color: rgb(209, 45, 100);
}

.main-nav__item a:hover {
  color: rgb(209, 45, 100);
  border-top: ridge;
}

/***************************** HOME ******************************/

.home {
  background-color: black;
  text-align: center;
  font-size: 3rem;
  color: rgb(209, 45, 100);
  display: table;
  height: 100vh;
  width: 100%;
}

.inner-home {
  display: table-cell;
  vertical-align: middle;
}

.inner-home img {
  border-radius: 100%;
  width: 250px;
  height: auto;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.name {
  line-height: 1rem;
}


.inner-home img:hover {
  width: 300px;
  border: none;
  -moz-box-shadow: 1px 1px 30px rgb(209, 45, 100);
  -webkit-box-shadow: 1px 1px 30px rgb(209, 45, 100);
      box-shadow: 1px 1px 30px rgb(209, 45, 100);
  
}

.tag-line {
  top: 0;
  color: #fff;
  font-size: 50%;
}

.fab {
  padding: 16px;
  margin: 8px;
  font-size: larger;
  text-decoration: none;
  color: rgb(209, 45, 100);
  width: 50px;
  text-align: center;
}
.fab:hover {
  box-shadow: 1px 1px 30px rgb(209, 45, 100);
  border-radius: 100px;
}
@media (min-width: 377px) and (max-width: 1000px) {
  .home {
    font-size: 4rem;
  }
  .name {
    line-height: 3rem;
  }
  .tag-line {
    font-size: 3rem;
  }
  .inner-home img {
    border-radius: 100%;
    width: 500px;
    height: auto;
  }
}

/************************** ABOUT **************************/

.about {
  background-color: black;
  display: table;
  height: 100vh;
  width: 100%;
}

.inner-about {
  display: table-cell;
  vertical-align: middle;
  width: 70%;
  float: left;
  padding-top: 4.6rem;
  padding-left: 3rem;
}

.inner-about h1 {
  font-size: 3rem;
  color:  rgb(209, 45, 100);
  font-weight: 300;
}
.about hr {
  border: 1px solid rgb(209, 45, 100);
}

.inner-about p {
  font-size: 1.7rem;
  line-height: 3rem;
  color: #fff;
}

@media (min-width: 320px) and (max-width: 1000px) {
  .inner-about p {
    font-size: 4rem;
    line-height: 4rem;
  }
  .inner-about h1 {
    font-size: 5rem;
  }
}

/***************************** EDUCATION *****************************/

.education {
  background: linear-gradient(to bottom right, rgb(209, 45, 100), pink);
  display: table;
  height: 100vh;
  width: 100%;
}

.inner-edu {
  padding: 50px;
}

.education h1, .skills h1 {
  font-size: 3rem;
}

.inner-edu div {
  width: 30%;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
  text-align: center;
}

.inner-edu div p, .inner-skills div li {
  font-size: 26px;
}

.inner-edu div img {
  width: 6rem;
  height: auto;
}

.skills, .contact {
  display: table;
  height: 100vh;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 1000px) {
  .education h1 {
    font-size: 4rem;
  }
  .inner-edu div {
    width: 100%;
  }
  .inner-edu div img {
    width: 8rem;
    height: auto;
  }
  .inner-edu div p, .inner-skills div li {
    font-size: 2.5rem;
  }
}

/************************** SKILLS ************************/

.skills {
  background-image: url("https://ak.picdn.net/shutterstock/videos/20649931/thumb/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  height: 100vh;
  width: 100%
}

.skills h1 {
  margin-top: 10%;
  margin-left: 5%;
}

.inner-skills div {
  width: 30%;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
  text-align: center;
}

.inner-skills div ul li {
  list-style-type: none;
}

.inner-skills div li {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 320px) and (max-width: 1000px) {
  .inner-skills div {
    width: 100%;
  }
}

/********************** CONTACT *******************/

.contact-head {
  width: 100%;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  float: left;
  font-size: 3rem;
  text-align: center;
}

label {
  font-size: 1.3rem;
}

input {
  border-color: white;
  border-radius: 2rem;
  line-height: 2rem;
  width: 35%;
  padding: 0.6rem;
}

.signup-form {
  padding: 1rem;
  margin: auto;
  display: grid;
  width: 30rem;
  display: grid;
  grid-row-gap: 0.5rem;
}

.form-area {
  background-color: rgb(226, 151, 176);
  padding: 0.63rem;
  margin-top: 5rem;
  margin-left: 6.3rem;
  margin-right: 6.3rem;
}

.signup-form label {
  font-weight: bold;
}

.signup-form label, .signup-form input, .signup-form select {
  display: block;
  width: 100%;
}

/* .signup-form input[type="checkbox"]  */

.signup-form input[id*="terms"] {
  display: inline-block;
}

.signup-form input[id*="terms"], .signup-form textarea[id*="terms"], .signup-form input[id*="terms"]+label {
  display: inline-block;
  width: auto;
  vertical-align: bottom;
}

.signup-form input, .signup-form textarea, .signup-form select {
  padding: 0.2rem 0.5rem;
  font: inherit;
}

.signup-form input:focus, .signup-form select:focus, .signup-form textarea:focus {
  outline: none;
  background-color: burlywood;
  border-color: pink;
}

.signup-form button[type="submit"] {
  display: block;
}

textarea {
  border-color: white;
  border-radius: 1rem;
  width: 100%;
  padding: 0.6rem;
}

.button {
  font-weight: bold;
  background-color: burlywood;
  color: white;
  border: none;
  width: 20%;
  padding: 0.5rem;
  height: 3rem;
  text-align: center;
  border-radius: 2rem;
}

@media (min-width: 320px) and (max-width: 1000px) {
  .contact-head {
    font-size: 6rem;
  }
  label {
    font-size: 3rem !important;
  }
  .signup-form {
    padding: 1rem;
    grid-row-gap: 4rem;
  }
  .signup-form input, .signup-form textarea, .signup-form select {
    padding: none;
    line-height: 4rem;
  }
  #first-name, #last-name, #email, #text {
    font-size: 3rem;
  }
  .button {
    height: 5rem;
    font-size: 3rem;
    width: 30%;
  }
}

/***************************** FOOTER *********************************/

.main-footer {
  background: black;
  padding: 2rem;
  margin-top: 3rem;
  grid-area: footer;
  /* width: 100%; */
}

.main-footer p {
  margin: 0 1rem;
  padding: 0;
  display: flex;
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (min-width: 320px) and (max-width: 1000px) {
  .main-footer {
    background: black;
    padding: 2rem;
    margin-top: 3rem;
    grid-area: footer;
    height: 70%;
  }
  .main-footer p {
    font-size: 3rem;
  }
}